.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
}

.logo {
    width: 80px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
    font-size: large;
}

.nav-items>ul>li {
    margin: 10px;
    padding: 10px;
}

.search {
    width: 500px;
    height: 50px;
    border: 1px solid gray;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card {
    margin: 10px;
    width: 200px;
    /* height: 300px; */
    border: 1px solid gray;
    transition: box-shadow 0.3s;
    background-color: lightgoldenrodyellow;
}

.restaurant-card:hover {
    box-shadow: 0 0 11px rgba(9, 9, 9, 0.5);
    background-color: rgb(247, 247, 179);
    cursor: pointer;
}

/* .res-logo-card {
    object-fit: contain;
} */

.img-container>img {
    object-fit: fill;
    width: 90%;
    /* height: 110px; */
    padding-left: 5%;
    padding-top: 2%;
    overflow: hidden;
}

.img-container img {
    height: 130px
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {

    width: 200px;
    height: 300px;
    background-color: lightgray;
    margin: 10px;
}

.login-btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.price {
    color: red;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
}

.res-card-logo {
    width: 200px;
    margin: 10px;
    object-fit: fill;
    box-shadow: 0 0 11px rgba(9, 9, 9, 0.5);
}